<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "" }} | Quick
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>

  <body class="min-h-screen flex items-center justify-center bg-gray-100 font-sans">
    <main class="w-full max-w-md p-6 bg-white rounded-2xl shadow-lg">
      {{{ await $slots.content() }}}
    </main>

    @stack("scripts")
  </body>
</html>
