@import 'tailwindcss';
@source "../views";

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.3s ease-out;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
